h2 span,
figure .item-link a.project-link:hover,
figure .item-link a.zoom-link:hover {
	color: #6c91c5;
} 

.isotope-filters .btn.active, 
.isotope-filters .btn:hover, 
.isotope-filters .bg-btn {
	background-color: #6c91c5;
} 

.isotope-filters .btn.active, 
.isotope-filters .btn:hover, 
.isotope-filters .bg-btn{
	border-color: #6c91c5;
} 
 
.portfolio-item figure:hover:after {
	background-color: rgba(108, 145, 197, 0.71);
}